body{margin:0;padding:0}
/*
     FILE ARCHIVED ON 09:57:05 Nov 25, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:19:56 Dec 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 187.408
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.062
  RedisCDXSource: 0.53
  esindex: 0.008
  LoadShardBlock: 155.759 (3)
  PetaboxLoader3.datanode: 308.741 (4)
  CDXLines.iter: 21.266 (3)
  load_resource: 238.732
  PetaboxLoader3.resolve: 73.266
*/